{% extends 'base.html.twig' %}

{% block title %}K & A Immo | Accueil{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('css/Home.css') }}">
</head>
<div class="first">
    <div class="card" style="width: 28rem; border-radius: 10px;">
         
        <div class="card-body">
            <h5 class="card-title">Maison Moderne à Vendre</h5>
            <p class="card-text">
                Découvrez cette maison moderne située dans un quartier calme. Idéale pour les familles, elle offre de grands espaces et un design contemporain.
                Profitez d’un cadre de vie agréable à proximité de toutes commodités.
            </p>
            <a href="#" class="btn btn-primary">Voir les détails</a>
        </div>
    </div>
</div>
<h1>hello</h1>
{% endblock %}

