.first {
    background-image: url("/images/maison/maison1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(239, 239, 239, 0.447);
    margin-top: -150px;
    margin-left: 40px;
    color: black;
}