:root {
    --primary-color: #2C3E50; /* Couleur principale */
    --secondary-color: #D35400; /* Couleur secondaire */
    --background-color: #ECF0F1; /* Couleur de fond */
    --text-primary: #c2c7cc; /* Texte principal */
    --text-secondary: #e8f5f6; /* Texte secondaire */
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
    font-family: Arial, sans-serif;
}
